.quiz {
  margin-top: 70px;
  padding: 20px 0;
}
.container-quiz {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.content-right {
  width: 100%;
  margin-left: 32px;
}

.wrapper-content-number {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.wrapper-number {
  padding: 16px 22px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 255, 255);
}
.quiz-page {
  background-color: #f2f3f7;
}
.question-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
}
.number-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 10px;
  width: 100%;
}
.number-item {
  outline: none;
  border: none;
  background-color: #f2f3f7;
  color: #777;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 32px;
  height: 32px;
}
.number-item.active {
  border: 2px solid #007aff;
  background: #fff;
  color: #1d1d1d;
}
.take-btn {
  border: 2px solid #007aff;
  color: #007aff;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 40px;
  width: 180px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}
.time {
  color: rgb(38, 192, 72);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.action-nextPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.detail {
  padding: 0 50px;
}
.next-btn {
  cursor: pointer;
  background: #007aff !important;
  color: #fff !important;
  padding: 5px 10px 5px 13px;
  left: 20px;
  outline: none;
  border: 1px solid #007aff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  width: 100px;
  font-weight: 500;
  font-size: 14px;
}

.prev-btn {
  display: flex;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #007aff;
  outline: none;
  background: #fff !important;
  color: #007aff !important;
  padding: 5px 13px 5px 10px;
  left: 15px;
  font-weight: 500;
  font-size: 14px;
  margin-right: 12px;
}
.question-content {
  background-color: rgb(255, 255, 255);
  padding: 40px 10px 25px 10px;
  border-radius: 15px;
}
.action-take {
  text-align: center;
  margin-top: 40px;
}
.choice {
  display: flex;
  align-items: center;
}
.choice-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  margin-right: 10px;
}
.answer-item {
  cursor: pointer;
  padding: 10px;

  &:hover {
    background: #ececec;
    border-radius: 5px;
  }
}
.submit-test {
  background: #e4e6ed;
  color: #383838;
  border-radius: 20px;
  font-weight: 600;
  height: 30px;
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 12px 0 0 auto;
  &:hover {
    border: 1px solid black;
  }
}

.show-score span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.show-score {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #007aff;
  background-color: rgb(255, 255, 255);
  color: #007aff;
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  & button {
    outline: none;
    border: 1px solid #007aff;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: #007aff;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 20px;
  }
}
.show-score.hidden {
  display: flex;
  z-index: 100;
}
.submit-test:disabled {
  cursor: not-allowed;
  &:hover {
    border: none;
  }
}

.action-nextPrev button:disabled {
  cursor: not-allowed;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  display: none;
}
.overlay.hidden {
  display: block;
}
.wrapper-content {
  height: calc(100vh - 76px);
}
@media screen and (max-width: 800px) {
  .wrapper-content-number {
    display: flex;
    flex-direction: column;
  }
  .content-right {
    margin: 20px 0;
  }
}
