:root {
}

* {
  box-sizing: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.8;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
  z-index: -10;
  transition: all 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-fluid {
  max-width: 100%;
}
.wrapper-content {
  padding-top: 70px;
}
